			<div class="form-group">			
				<select class="form-control" id="groupname">	    
						<option style="font-weight: bold" value = "0">Please select a product group</option>
						{{#each groups}}
						<option value = "{{this}}">{{this}}</option>
						{{/each}}
				</select>
			</div>

