<table class="table table-bordered">
	<thead>
		<tr>
		    <th>Image</th>
			<th>Product Name</th>
			<th>Price</th>
			<th>Description</th>
			<th>Add to Cart</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="/public/img/NG_first_animals_150X150.jpg" class="img-thumbnail" ></td>
			<td>Little Kids First Big Book Of Animals</td>
			<td>$14.95</td>
			<td><button class="btn btn-primary">Description</button></td>
            <td><button class="btn btn-success" id="add2cart">Add To Cart</button></td>
		</tr>
	    <tr class="even">
			<td><img src="/public/img/WK_B_animal_babies_150X150.jpg" class="img-thumbnail" ></td>
			<td>Wild Animal Babies</td>
			<td>$4.99</td>
			<td><button class="btn btn-primary">Description</button></td>
            <td><button class="btn btn-success" id="add2cart">Add To Cart</button></td>
		</tr>
	</tbody>
</table>
