<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title> {{title}}</title>

<!-- Latest compiled and minified CSS -->
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/public/css/main.css">

<!--below is a script which allows IE 8 to understand HTML 5 elements.-->
<!--[if lt IE 9]>
    <script>
        const elementsArray = ['abbr', 'article', 'aside', 'audio', 'bdi', 'canvas', 'data', 'datalist', 'details', 'figcaption', 'figure', 'footer', 'header', 'main', 'mark', 'meter', 'nav', 'output', 'progress', 'section', 'summary', 'template', 'time', 'video'];
        const len = elementsArray.length;
        for(i = 0; i < len; i++){
            document.createElement(elementsArray[i]);
        }
    </script>
<![endif]-->

</head>
<body>
	<div class="container">
		
		<div class="content">
		   
			{{{body}}}
		</div>
	</div>
    


</body>
</html>