<main>
<h2>Login</h2>
  <div class="row">
    <div class="col-md-11">
	 <p>Please login to enter the administrative area</p>
	 <div class="error">{{error}}</div>
	</div>
  </div>
  <div class="row">
    <div class="col-md-4">
		<form class="form-group" action="/user/ad-login/" method="post">
			<div class="form-group">
			    <label for="username">Username</label>
			    <input type="text" class="form-control" name="username" id="username" value = "admin">
			<div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" value = "manager123">
			</div>
			<button type="button" class="but btn-success" id="admin-login">Access Admin Area</button>
			</div>
		</form>
    </div>
  </div>
   <div id="ack"></div>
</main>