<main>
    <h2>Home</h2>
	<p>To search for products you can either select a product group or enter the product name.</p>
	<div class="row">
	  <div class="col-md-6">
		   {{> select-group this}}
	  </div>
	</div>
	<div id="table"></div>
	<div id="descWindow-user"></div>
</main>
