<main>
   <h2> Thank you for your order!</h2>
   <p> Your order will arrive within 5 business days. </p>
   <p> You have been logged out of the shopping cart. If you want to place another order you will have to log back in. </p>
</main>