<main>
    <h2>View Cart</h2>
	<p> To remove an item from your cart. Set the amount to zero and click the "Update" button</p>
	<button type="button" class="btn btn-success" id="checkout">Check Out</button> <br/>

	<div id="table"></div>
    <div id="descWindow-user"></div>

</main>
